{{ define "main" }}
<article>
  <h2 class="page-title">{{ .Title }}</h2>
  <ins class="dmm-widget-placement" data-id="04a5aa643927c614562769d9f57fe82c" style="background:transparent"></ins><script src="https://widget-view.dmm.co.jp/js/placement.js" class="dmm-widget-scripts" data-id="04a5aa643927c614562769d9f57fe82c"></script>
  <!-- <p class="meta">{{  .Date | dateFormat "Jan 2, 2006"  }}</p> -->
  <p class="meta">{{  .Description  }}</p>

  <div class="post">
  {{ .Content }}
  </div>
</article>
{{ end }}
